.sidebar {
  width: 240px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  padding: 22px;
  position: fixed;
  top: 0;
  left: 0;

  /* 중요! 이걸 안 쓰면 아래 고정이 안 됨 */
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

/* 위 메뉴 */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 18px 0;
}

.menu li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 아래 고정 로그아웃 */
.logout-section {
  margin-bottom: 50px;
}

.logout-section a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}
